<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles.css" />
		<script src="./app.js" defer></script>
		<title>Todo-list</title>
	</head>
	<body>
		<nav class="nav__container">
			<ul class="list__container">
				<li class="list__item">
					<a class="list__item-link" href="/view/index.html"
						><img src="/assets/home.png" alt="home" /><span
							>Home</span
						></a
					>
				</li>
				<li class="list__item">
					<a class="list__item-link" href="/about">
						<img src="/assets/about.png" alt="about" /><span
							>About</span
						></a
					>
				</li>
				<li class="list__item">
					<a class="list__item-link">
						<img src="/assets/author.png" alt="authors" /><span
							>Authors</span
						></a
					>
				</li>
			</ul>
		</nav>
		<main class="main__container">
      <section class="heading__section">
        <h1 class="main__heading">Todo-list</h1>
        <a class="main__button" href="/view/add_todo.html">+ Add Todo</a>
      </section>
			
			<section class="main__section">
				<ul class="list__wrapper"></ul>
			</section>
		</main>
	</body>
</html>
